name: Test on push

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: corretto
          java-version: 17
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3
      - name: Make Gradle wrapper executable
        run: chmod +x gradlew
      - name: Run JUnit tests
        run: ./gradlew test
